<div class="btn__container">
  
  <div class="autoSubmitTimer timed-submit-remaining-time" style="display: none;">
    <spabn class="autoSubmitRemaining"></spabn>
  </div>

  <div class="btn__response-container">
    <button class="btn-text btn__action js-btn-action is-disabled" aria-label="{{{ariaLabel}}}" aria-disabled="true">
      {{{buttonText}}}
    </button>
  </div>

  <div class="autosubmit_done_panel timed-submit-all-done" style="display:none">
    <span>Time limit reached. The current data was submitted.</span>
  </div>

</div>
